input,
select,
textarea {
    max-width: 300px;
}

.home-image-container{
    text-align: center;
}

.home-image-container img{
    max-height: 350px;
    width: 100%;
    height: auto;
    border-radius: 15px;
}
.under-nav-addMargin{
    margin-top: 70px;
}

.home-welcome-message{
    text-align: center;
}

.home-welcome-message h1{
    font-size: 25px;
}

.footer {
    display: none;
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #efefef;
    text-align: center;
}
.notification {
    font-size: 1.5em;
    float: right;
    color: #ffffff;
    padding:  0.5em 2em 0.5em 2em;
    margin: 1em;
    display: none;
    position: fixed;
    top: 10%;
    right: 0;
    text-align: center;
    border-radius: 3px;
}
#infoBox {
    background: #393;
}

#errorBox {
    background: #F50;
}

.titleForm{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    padding: 10px;
}
/*view ads css*/
.ad-box {
    width: 300px;
    height: 300px;
    border: 1px solid black;
    text-align: center;

    margin: 20px;
    /*display: inline-block;*/
    float: left;
}

.ad-box div {
    display: inline-block;
}

.ad-box img {
    height:auto;
    width: auto;
    max-width: 250px;
    max-height: 200px;
}

.ad-control {
    float: right;
    border: 1px solid white;
    background: inherit;
    width: 1.5em;
    height: 1.5em;
    color: white;
}

.ad-control:hover {
    color: cadetblue;
    cursor: pointer;

}

.delete:hover {
    color: red;
}

.box-title {
    width: 100%;
    background: #333333;
    color: white;
    font-size: 1.5em;
}

#ads {
    overflow: auto;
}

.detailed-view{
    height: auto;
    width: auto;
    text-align: center;
}

.detailed-view img {
    height: auto;
    width: auto;
    max-width: 300px;
    max-height: 300px;
    border: 1px solid black;
}
