<a href="#/home">Back To MusicShop</a>
<div class="secret-wrapper">
    <label id="master-secret-label" for="master-secret">Master secret:</label>
    <input class="form-control input-center" id="master-secret" type="text" placeholder="Input master secret here">
    <a href="#/admin/home" class="btn btn-lg bg-info send-secret-btn">Send</a>
</div>