{{> header}}

<div class="home-image-container">
    <img src="./images/homePagePicTemplate.jpg" alt="Chicago">
</div>

<div class="home-welcome-message">
    <h1>Welcome to MusicShop</h1>
</div>

{{> footer}}